.exchangeLink {
    font-size: 18px;
    color: #D19C7D;
    line-height: 30px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}
.exchangeActive {
    font-weight: bold;
    color: #722F0D;
    border-bottom-color: #722F0D;
}