.driectorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.driectorItem {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 72px;
    padding: 0 10px 0 30px;
    justify-content: center;
    margin-bottom: 10px;
    background: url(../../assets/images/tab-card1-disabled-png.png) no-repeat top center;
}
.driectorItem:nth-child(2) {
    background: url(../../assets/images/tab-card2-disabled-png.png) no-repeat top center;
}
.driectorItem:nth-child(3) {
    background: url(../../assets/images/tab-card3-disabled-png.png) no-repeat top center;
}
.driectorItem:last-child {
    background: url(../../assets/images/tab-card4-disabled-png.png) no-repeat top center;
}
.driectorTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    color: #ABB7CA;
    margin-bottom: 5px;
}
.driectorTitle img {
    margin-right: 5px;
}
.driectorContent {
    font-size: 16px;
    color: #E3F4FD;
}
.driectorBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    background-color: #14223d;
    padding: 25px;
    box-sizing: border-box;
    align-items: center;
}
.driectorBoxP1 {
    font-size: 24px;
    color: #E3F4FD;
    margin: 10px 0 5px;
}
.driectorBoxP2 {
    font-size: 14px;
    color: #7D8796;
}
.driectorBoxList {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}
.driectorBoxItem {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    font-family: 'MicrosoftYaHei';
}
.driectorBoxItemSpan {
    color: #E3F4FD;
    font-size: 14px;
    margin: 0 5px;
}
.drictorBut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.drictorBut button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 45px;
    box-sizing: border-box;
    font-size: 16px;
}
.drictorExtract {
    border: 2px solid #19e192;
    border-radius: 3px;
    color: #19E192;
    background-color: transparent;
}
.drictorLocking {
    background: -webkit-linear-gradient(left,#45b7da,#57dfaa);
    color: #FEFEFE;
    border: none;
}