.title {
    color: #18B46C;
    text-align: center;
    font-size: 18px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mini-top p {
    padding: 0;
    margin: 0;
}

.mini-top {
    width: 100%;
    margin-top: 10px;
}

.mini-top .title {
    /* margin-top: 5px; */
    margin-bottom: 10px;
}

.top-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
}

.mini-1-div {
    background-color: #14223d;
    border: 1px solid #313348;
    display: flex;
    height: 36px;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    border-radius:8px;
    overflow: hidden;
}

.mini-1-div p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 12px;
    color: #6c768a;
}
.mini-1-div p span:last-child {
    color: #34d47b;
}

.item {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 72px;
    padding: 0 10px;
    justify-content: center;
    margin-bottom: 10px;
    background: url(../../assets/images/tab-card1-disabled-png.png) no-repeat top center;
}
.item:nth-child(2) {
    background: url(../../assets/images/tab-card2-disabled-png.png) no-repeat top center;
}
.item:nth-child(3) {
    background: url(../../assets/images/tab-card3-disabled-png.png) no-repeat top center;
}
.item:last-child {
    background: url(../../assets/images/tab-card4-disabled-png.png) no-repeat top center;
}
.item .text {
    font-size: 12px;
    color: #ABB7CA;
    line-height: 16px;
    text-align: center;
}

.item .balance {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: bold;
    height: 20px;
    line-height: 24px;
    text-align: center;
    color: #E3F4FD;
    font-family: 'CenturyGothic-Bold';
}

.mid-title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: #06C66E;
    margin-top:10px;
}

.mid-text {
    display: block;
    margin-bottom: 5px;
}

.mid-sub {
    margin: 0;
    color: #abb7ca;
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.nav-ul {
    width: 64%;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    height: 32px;
    align-items: center;
}

.nav-ul .nav-li {
    flex: 1;
    text-align: center;
    position: relative;
    color: #ABB7CA;
    font-size: 16px;
    transition: all 0.3s;
}

.nav-ul .active {
    color: #06C66E;
}

.nav-ul .nav-li.active::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #06C66E;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
}

.pool-list {
    margin-bottom: 16px;
    width: 100%;
}

.pool-item {
    background-color: #fff;
    border-radius: 12px;
    margin-top: 14px;
    padding: 14px 0;
    width: 100%;
}

.pool-item .item-img {
    display: flex;
    justify-content: center;
}

.pool-item .item-img img {
    width: 42px;
    height: 42px;
}

.pool-item .item-img .pre {
    transform: translateX(5px);
}

.pool-item .item-img .next {
    transform: translateX(-5px);
}

.pool-item .item-coin {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    color: #666666;
}

.pool-item .item-span {
    font-size: 18px;
    color: #666666;
    font-weight: 600;
}

.pool-item .item-div {
    border: 1px solid #0278FE;
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 0 4px;
    display: flex;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.pool-item .item-div span {
    color: #666666;
}

.pool-item .item-btn {
    width: 90%;
    margin: 18px auto;
    box-sizing: border-box;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    border-radius: 6px;
    text-align: center;
    background-color: #0278FE;
    /* background-image: linear-gradient(#2ebc84, #35c288); */
    color: #fff;
}

.pool-item p {
    text-align: center;
}

.pool-item span {
    font-size: 14px;
}


/* 修改新增样式 */
.minList {
    display: flex;
    flex-direction: column;
    background-color: #14223d;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}
.minHead {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    font-size: 16px;
    color: #E3F4FD;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
}
.minItem {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 73px;
    border-top: 1px solid #114749;
    color: #E3F4FD;
    font-family: 'CenturyGothic';
    font-size: 12px;
    text-decoration: none;
}
.minItemCol1 {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    justify-content: center;
}
.minItemColH {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px;
}
.minItemImg {
    display: inline-block;
    width: 25px;
    height: 16px;
    position: relative;
    margin-right: 5px;
}
.minItemImg img {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
}
.minItemImg img:first-child {
    left: 0;
}
.minItemImg img:last-child {
    right: 0;
}
.minItemCol2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    line-height: 20px;
}
.minItemCol3 {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
}